*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
ul{
  margin-top: 20px;
  /* margin-right: 50px; */
  
}
li, span{
  color: #93288f;
  list-style: none;
  font-size: 20px;
  font-weight: 100;
  
}
img{
  height: 110px;
  width: 110px;
  margin-top: 20px;
}
form{
  margin-bottom: 20px;
}
.location {
  padding-left: 90px;
}
.icons {
  height: 50px;
  width: 50px;
}
.icon {
  padding-left: 100px;
}
.container{
  max-width: 600px;
}
.search-input{
  border: 1px solid #93288f;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 100;
  width: 400px;
  margin-left: 20px;
}
.search-btn{
  background: white;
  height: 50px;
  width: 100px;
  border: 1px solid #93288f;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 100;
  transition: all 150ms ease-in-out;
}
.search-btn:hover{
  background: #93288f;
	color: #ffffff;
}
.days, .weather-view, .temperature {
  color: #93288f;
  font-size: 20px;
  font-weight: 100;
  
  /* padding-left: 20px; */
}
.col {
  padding-left: 60px;
}
.days, .temperature {
  margin-top: 40px;
  margin-bottom: 10px;
}
