*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}
ul{
  margin-top: 20px;
  
  
}
li, span{
  color: #4f8a8b;
  list-style: none;
  font-size: 20px;
  font-weight: 300;
  
}
img{
  height: 110px;
  width: 110px;
  margin-top: 20px;
}
h3{
   color: #4f8a8b;
  font-size: 20px;
  font-weight: 300;
  margin-top: 40px;
  text-align: center;

}
form{
  margin-bottom: 20px;
}
#condition{
  margin-top: 10px;
  text-transform: capitalize;
}

.location {
  padding-left: 90px;
  margin-top: 15px;
}
.icons {
  height: 50px;
  width: 50px;
}
.icon {
  padding-left: 100px;
}

.container{
  /* background: url(../img/day.svg);
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
  max-width: 600px;
}
.search-input{

  border: 1px solid #4f8a8b;;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 300;
  width: 400px;
  margin-left: 20px;
}
.search-btn{
  background: white;
  height: 50px;
  width: 100px;
 border: 1px solid #4f8a8b;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 300;
  transition: all 150ms ease-in-out;
}
.search-btn:hover{
  background: #4f8a8b;
	color: #ffffff;
}
.weather-forecast {
  padding-left: 80px;
}
.forecast-temp{
  color: #4f8a8b;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.forecast {
  padding: 15px;
}
/* .days, .weather-view, .temperature {
  color: #4f8a8b;
  font-size: 20px;
  font-weight: 300;
 
} */

/* .days, .temperature {
  margin-top: 40px;
  margin-bottom: 10px;
} */
